.nav {
    width: 100vw;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav {
    li {
        text-decoration: none;
    }
}