@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-Regular.woff) format("woff");
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-RegularItalic.woff) format("woff");
    font-style: italic;
    font-weight: 400; 
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-SemiBold.woff) format("woff");
    font-style: normal;
    font-weight: 600; 
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-SemiBoldItalic.woff) format("woff");
    font-style: italic;
    font-weight: 600; 
}

@font-face {
    font-family: walkingrush;
    src: url(../Assets/fonts/Walkingrush.woff) format("woff");
    font-style: normal;
    font-weight: 400; 
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-Bold.woff) format("woff");
    font-style: normal;
    font-weight: 700; 
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-BoldItalic.woff) format("woff");
    font-style: italic;
    font-weight: 700; 
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-Black.woff) format("woff");
    font-style: normal;
    font-weight: 900; 
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-BlackItalic.woff) format("woff");
    font-style: italic;
    font-weight: 900; 
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-Light.woff) format("woff");
    font-style: normal;
    font-weight: 300; 
}

@font-face {
    font-family: messina;
    src: url(../Assets/fonts/MessinaSans-LightItalic.woff) format("woff");
    font-style: italic;
    font-weight: 300; 
}


@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Walkingrush';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(36px, 10vw, 72px);
    line-height: 113.3%;
    /* line-height: 96px; */
}

h2 {
    font-family: 'Walkingrush';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 116.7%;
    /* line-height: 56px; */
}

h3 {
    font-family: 'messina';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

h4 {
    font-family: 'messina';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

h5 {
    font-family: 'messina';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-family: 'messina';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.subtitle {
    font-family: 'messina';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.text-body, p {
    font-family: 'messina';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

p:has(+ p) {
    margin-bottom: 24px;
}

.body-bold {
    font-family: 'messina';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.text-small {
    font-family: 'messina';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.text-smaller {
    font-family: 'messina';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.link-styles {
    text-decoration: none;
    margin-right: 64px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    width: 100vw;
    height: 96px;
}

/* body {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 0;
} */

.nav-link {
    @apply no-underline mr-64 uppercase font-semibold
}

.feature-card {
    @apply max-w-[320px] p-48 bg-uiLight mb-48
}
.footer {
    background-color: black;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    /* display: none; */

}

.submenu {
    visibility: hidden;
    display: flex;
    flex-direction: column;
}
.dropdown {
    height: 100%;
    cursor: pointer;
}
.dropdown:hover > ul {
    visibility: visible;
}

ul.submenu:hover {
    visibility: visible;
} 

.team-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content;
    gap: 124px 20px;
    justify-content: center;
}
/* .team-grid {
    display: flex;
    flex-flow: row wrap;
} */

.team-bio {
    visibility: hidden;
}

.projects-grid {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    gap: 20px;
    grid-template-columns: max-content max-content;
}

img {
    margin: 0
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;
    gap: 192px 20px;
}

.project-grid-article {
    grid-area: 1 / 8 / 2 / -3 ;
    place-self: center;
}
.project-grid-one {
    grid-area: 1 / 2 / 2 / 6 ;
}

.project-grid-two {
    grid-area: 2 / 5 / 3 / -1 ;
}

.project-grid-three {
    grid-area: 3 / 2 / 4 / 6 ;
}

.project-grid-four {
    grid-area: 3 / 7 / 4 / -1 ;
}

.project-grid-five {
    grid-area: 4 / 3 / 5 / -3 ;
}

.project-grid-six {
    grid-area: 5 / 5 / 6 / 9 ;
}

.project-grid-seven {
    grid-area: 6 / 1 / 7 / 7 ;
}

.project-grid-eight {
    grid-area: 6 / -6 / 7 / -2 ;
}

.project-grid-nine {
    grid-area: 7 / 3 / 8 / -3 ;
}


.news-hero {
    grid-area: 1 / 2 / 2 / -2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content;
    gap: 20px;
    justify-items: center;

}

.news-hero-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: max-content;
    gap: 192px 0;
}

.other-news {
    display: grid;
    grid-area: 2 / 3 / 3 / -3;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    gap: 96px 20px;
}

.other-news + .form {
    grid-area: 3 / 2 / 4 / -2;
}

.post-writer-image {
    clip-path: circle();
    width: 64px;
    height: 64px;
    /* display: none; */
}